<!DOCTYPE html>
<html>

<head>
    <%- include ("partials/head") %>
</head>

<body>
    <%- include ("partials/navbar") %>
    <div class="container p-3 animated fadeIn">
        <div class="row">
            <div class=col-md-2></div>
            <div class=col-md-8>
                <div class="card">
                    <h5 class="card-header">Links</h5>
                    <div class="card-body">
                        <h3>Documentation and CDNs</h3>
                        <div class="list-group">
                            <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/" class="list-group-item list-group-item-action">
                                Bootstrap Documentation
                            </a>
                            <a href="http://realfavicongenerator.net/" class="list-group-item list-group-item-action">Favicon Generator</a>
                            <a href="https://firebase.google.com/docs/database/" class="list-group-item list-group-item-action">Firebase</a>
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" class="list-group-item list-group-item-action">Font Awesome Icons</a>
                            <a href="https://api.jquery.com/" class="list-group-item list-group-item-action">jQuery</a>
                            <a href="https://www.tensorflow.org/js" class="list-group-item list-group-item-action">Tensorflow.js</a>
                        </div>
                        <hr>
                        <h3>Cheatsheets</h3>
                        <div class="list-group">
                            <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/" class="list-group-item list-group-item-action">
                                Bootstrap CDN
                            </a>
                            <a href="https://web.stanford.edu/group/csp/cs21/htmlcheatsheet.pdf" class="list-group-item list-group-item-action">HTML</a>
                            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="list-group-item list-group-item-action">Markdown</a>
                            <a href="https://s3.amazonaws.com/ir_public/academy/cheat+sheet/tensorflowJS.pdf" class="list-group-item list-group-item-action">Tensorflow</a>
                            <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=col-md-2></div>
        </div>
    </div>
</body>

</html>