<!DOCTYPE html>
<html>

<head>
   <%- include ("partials/head") %>
</head>

<body>
   <%- include ("partials/navbar") %>
   <div class="container p-3 animated fadeIn">
      <div class="row">
         <div class=col-md-3></div>
         <div class=col-md-6>
            <div class="card">
               <h5 class="card-header">Settings</h5>
               <div class="card-body">
                  <h5 class="card-title">This is the Settings page</h5>
                  <p class="card-text">Use this page to change the settings of the web application</p>
                  <a href="#" class="btn btn-primary align-items-center">Save</a>
               </div>
            </div>
         </div>
         <div class=col-md-3></div>
      </div>
   </div>
</body>

</html>